body {
    margin: 0;
    background-color: #f3f3f3;
}

.icon {
    padding-left: 10px;
    color: gray;
}

a.support_link {
    position: absolute;
    top: 9px;
    text-decoration: none;
    display: block;
    color: white;
    background-color: rgb(0, 119, 255);
    width: 80px;
    line-height: 35px;
    text-align: center;
    border-radius: 10%;
}


/* header */

header {
    /* height: 60px; */
    top: 0;
    width: 100%;
    background-color: skyblue;
    position: fixed;
    z-index: 9999;
}

.container1 {
    display: flex;
}

.headericon {
    margin: auto 15px auto 10px;
    flex-grow: 0;
}

.dropdown {
    padding: 15px 0px 15px 0;
    position: relative;
    display: none;
    flex-grow: 1;
}

.dropdown__btn {
    /* display: block; */
    /* width: 1.5em; */
    /* padding: 0.2em; */
    background: none;
    border: 0;
}

.dropdown__btn.is-open::after {
    content: "";
    width: 100%;
    height: 100%;
    cursor: default;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
}

.dropdown__btn.is-open+.dropdown__body {
    display: block;
    z-index: 5;
}

.dropdown__body {
    display: none;
    width: 100px;
    background: #fff;
    box-shadow: 0 2px 6px 2px rgba(60, 64, 67, 0.149), 0 1px 2px 0 rgba(60, 64, 67, 0.302);
    border-radius: 4px;
    overflow: hidden;
    position: absolute;
    top: 32px;
    left: 0;
}

.dropdown__list {
    margin: 0;
    padding: 0;
}

.dropdown__item {
    display: block;
}

.dropdown__item-link {
    display: block;
    padding: 1em 0.5em;
    font-size: 0.95em;
    text-decoration: none;
    color: #444;
}

.dropdown__item-link:hover {
    /* background: #fbfbfb; */
    opacity: 0.5;
}

h1 {
    margin: 0;
    font-weight: normal;
    font-size: 15px;
    margin-right: 15px;
    margin-left: 15px;
}

.dropdown__btn h1 {
    margin-left: 0;
}

.dropdown__btn h1:hover {
    opacity: 0.5;
}

.header1 {
    background: #ebfdff;
}

.header1img {
    width: 100%;
}


/* header */


/* footer */

.po h1 {
    font-size: 17px;
    opacity: 0.7;
    padding-left: 20px;
    padding-top: 25px;
}

.po ul {
    list-style: none;
}

.po li {
    margin-bottom: 20px;
}

.po li:hover {
    opacity: 0.4;
}

.po a {
    color: #0076b3;
    text-decoration: none;
    font-size: 15px;
}


/* border */

.border {
    border-bottom: 2px solid #e3e3e3;
    margin-left: 20px;
    margin-right: 20px;
}

.pom1 {
    margin: 30px 10px 0 10px;
}


/* border */

.iconlist a {
    color: gray;
    margin-top: 30px;
}

.iconlist {
    margin-top: 30px;
}

.icon {
    margin-left: 20px;
}

.footerimg {
    margin: 20px 0 5px 10px;
}

.containe {
    display: flex;
}

.footertext {
    opacity: 0.3;
    font-size: small;
    line-height: 30px;
    margin: 20px 20px 40px 20px;
}

.iconlist2 {
    padding-top: 20px;
}

.iconlist2 i:hover {
    opacity: 0.4;
}


/* footer */


/* top-button */

.pagetop {
    margin-right: 20px;
}

.pagetop h1 {
    text-align: center;
    margin-top: 14px;
    color: white;
}

.pagetop h1:hover {
    opacity: 0.5;
}

#page_top {
    width: 100px;
    height: 50px;
    position: fixed;
    right: 0;
    bottom: 50px;
    background: #3f98ef;
    opacity: 0.6;
    border-radius: 8px;
}


/* #page_top a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;


} */

#page_top a::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f102';
    font-size: 25px;
    color: #fff;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -5px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
}


/* ---------------page.php------------- */

.bottom-items {
    display: flex;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid black;
}

.bottom-item {
    flex: 1;
}

.bottom-item h4 {
    font-size: 20px;
}

.bottom-item p {
    font-size: 20px;
    overflow-wrap: normal;
}


/* top-button */

@media (min-width: 376px) {
    .mmmlist {
        display: block;
    }
}

@media (min-width: 670px) {
    .dropdown {
        display: block;
        display: flex;
    }
    .maintext h1 {
        width: 60%;
    }
    .mainlist {
        display: flex;
    }
    .list1 {
        margin-right: 10px;
    }
    .list2 {
        margin-right: 10px;
    }
    .infolist {
        width: 70%;
    }
    .btn {
        margin-right: 15%;
    }
    /* footer */
    .conte {
        display: flex;
        justify-content: space-around;
        margin-top: 60px;
    }
    .pom2 {
        padding-top: 70px;
    }
    .po h1 {
        padding-left: 0;
    }
    .po ul {
        padding-left: 17px;
    }
    .iconlist2 {
        text-align: center;
    }
    /* footer */
}

@media (min-width: 940px) {
    .headericon {
        margin-right: 40px;
    }
    .dropdown__body {
        width: 150px;
    }
    .header1 {
        background-image: url('../img/activities.jpg');
        background-size: cover;
        background-position: 50% 100%;
        height: 627px;
    }
    .header1 img {
        display: none;
    }
    .maintext h1 {
        width: 40%;
    }
    .mainlist {
        margin: 20px 30px 0 30px;
    }
    /* footer */
    .conte {
        display: flex;
        justify-content: space-around;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .contai2 {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .fa-3x {
        margin-left: 10px;
    }
    .fa-instagram {
        padding-left: 0;
        margin-left: 0;
    }
    .fa-podcast {
        margin-right: 20px;
    }
    .footertext {
        margin-right: 0px;
    }
    /* footer */
}

.contents {
    max-width: 800px;
    padding: 0 40px;
    margin: 0 auto;
}

.accordion-single {
    border-bottom: 1px solid #efefef;
    margin-top: 10px;
}

.accordion-single-title {
    border-top: 1px solid #efefef;
    padding: 20px;
    cursor: pointer;
    position: relative;
    font-size: 20px;
    margin: 0;
}

.accordion-single-title::after {
    content: "";
    position: absolute;
    right: 25px;
    top: 50%;
    transition: all 0.2s ease-in-out;
    display: block;
    width: 8px;
    height: 8px;
    border-top: solid 2px #999;
    border-right: solid 2px #999;
    transform: translateY(-50%) rotate(135deg);
}

.accordion-single-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease-in-out;
}

.accordion-single-content p {
    padding: 20px;
}

.accordion-single-item.is-open .accordion-single-content {
    max-height: 150px;
}

.accordion-single-item.is-open .accordion-single-title::after {
    transform: translateY(-50%) rotate(315deg);
}